.page {
  background: #c1c1c1;
  padding-top: 1px;
  background: -webkit-linear-gradient(left top, #8EC5FC 0%, #E0C3FC 100%);
}

.desc {
  font-size: 0.26rem;
  line-height: 0.27rem;
  margin: 0.44rem auto 0;
  color: #A664FF;
  text-align: center;
}

.sort-box {
  width: 35px;
  height: 35px;
  font-size: 16px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.sort-box .sortby {
  width: 2rem;
  height: 0.8rem;
  background: #fff;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.26rem;
}

.gift-wall {
  padding: 0 0.2rem;
  margin-top: 0.18rem;
  overflow: hidden;
  zoom: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gift-box {
  width: 2.16rem;
  min-height: 3.9rem;
  margin-bottom: 0.3rem;
}

.user-img {
  display: block;
  width: 0.64rem;
  height: 0.64rem;
  border: 0.03rem solid #fff;
  border-radius: 0.32rem;
  margin: 0.04rem auto 0;
  z-index: 1000;
}

.user-name {
  font-size: 0.2rem;
  color: #999;
  text-align: center;
}

.gift {
  padding-top: 1px;
  border-radius: 0.14rem;
  background: #fff;
  width: 100%;
  height: 2.8rem;
  margin-top: -0.65rem;
}

.gift>p {
  text-align: center;
  height: 0.34rem;
  line-height: 0.34rem;
  margin-top: 0.12rem;
}

.gift>p span {
  display: inline-block;
  vertical-align: bottom;
}

.gift-img {
  display: block;
  width: 1.20rem;
  height: 1.20rem;
  margin: 0.7rem auto 0;
}

.gift-icon {
  width: 0.34rem;
  height: 0.34rem;
  margin-right: 0.02rem;
  background-image: url("http://s3.cn-north-1.amazonaws.com.cn/pg-fe/live/level/ic-pink-dmd.png");
  background-size: cover;
}

.gift-value {
  font-size: 0.26rem;
  color: #D468E7;
}

.gift-amount {
  width: 1.67rem;
  height: 0.56rem;
  background: #FCCF2B;
  border-radius: 0.9rem;
  box-shadow: 0 0.04rem 0.08rem #7C7EFB;
  margin: -0.28rem auto 0;
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.56rem;
  color: #fff;
}

.gift-name {
  font-size: 0.26rem;
  color: #fff;
  text-align: center;
  margin-top: 0.16rem;
}